<a class="btn {{ classes }}" href="{{ href | default('https://google.com') }}" title="{{ title | faker('lorem.words(5)') }}" target="{{ target | default('_self') }}">
  {{ label | faker('lorem.sentence(4)') }}
</a>
