{% embed '@default' with layout %}

  {% block body %}

    <s-slideshow apply-slide-height class="content">

      <img src="/dist/img/urban-bkg.png" class="contact__bkg" />
      <section class="contact" id="contact" s-slideshow-slide>
        <div class="container contact__content">
          <div class="row">
            <div class="gr-8">
              <h1 class="h1 m-b">Contact me</h1>
            </div>
          </div>
          <div class="row">
            <div class="gr-12 gr-4@tablet gutter">
              <s-spring-snap style="width:100%">
                <label>
                  <input class="form-input" type="text" name="firstname" placeholder="John">
                </label>
              </s-spring-snap>
            </div>
            <div class="gr-12 gr-4@tablet gutter">
              <s-spring-snap style="width:100%">
                <label>
                  <input class="form-input" type="text" name="lastname" placeholder="Doe">
                </label>
              </s-spring-snap>
            </div>
            <div class="gr-12 gr-8@tablet gutter">
              <s-spring-snap style="width:100%">
                <label>
                  <textarea name="message" class="form-input" placeholder="Your message"></textarea>
                </label>
              </s-spring-snap>
            </div>
            <div class="gr-12 gr-8@tablet gutter">
              <s-spring-snap style="width:100%">
                <input type="submit" class="btn btn--primary btn--block" value="Send" />
              </s-spring-snap>
            </div>
          </div>
        </div>
      </section>

      <section class="projects" id="projects" s-slideshow-slide>
        <div class="container">
          <div class="row">
            <div class="gr-12">
              <div class="projects__grid">
                {% for project in projects %}
                  <div class="projects__grid-item">
                    <s-atv-card amount="0" perspective="{{ (loop.index == 1) ? '700' : '400' }}">
                      <a class="project" href="/project/{{ project.id }}" title="{{ project.title }}">
                        <article class="project">
                          <figure class="project__img">
                            <img src="{{ project.image.src }}" alt="Coffeekraken Sugar" />
                          </figure>
                          <div class="project__metas">
                            <h2 class="project__title m-b-small">{{ project.title }}</h2>
                            <p class="p">
                              {{ project.description }}
                            </p>
                          </div>
                        </article>
                      </a>
                    </s-atv-card>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>

    </s-slideshow>

  {% endblock %}

{% endembed %}
